// vars
$black: #000;
$white: #fff;
$bg-1: #384050;
$bg-2: #0d1119;
$red: #ff0d2e;
$orange: #ffaa00;
$grey: #cfd2d6;
$grey-light: #eee;
$grey-dark: #e1e1e1;
$blue: #000cff;
$text-red: #ff0000;
$text-blue: #0084ff;
$text-green: #1ac508;
$text-grey: #cccccc;


// layout
@import "common/_font";
@import "common/font-awesome.min.scss";
@import "common/_media";
@import "common/_sprite";
@import "common/_mixins";
@import "common/_greating";
@import "common/_media";

// styles
@import "common/footer";
@import "common/pages/main";
@import "common/pages/blog";
@import "common/pages/about";
@import "common/pages/trainings";
@import "common/pages/shop";
@import "common/pages/product";
@import "common/pages/account";
@import "common/pages/ordered";